@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press Start 2P&display=swap");

@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Six+Caps");

@font-face {
  font-family: Road Rage;
  src: url("assets/fonts/Road_Rage.otf");
}

* {
  box-sizing: border-box;
}

body {
  /* background: url("http://api.thumbr.it/whitenoise-361x370.png?background=15424fff&noise=166f9e&density=100&opacity=31"); */
  background: url("assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #282828;
  font-family: "Press Start 2P";
}

label {
  color: #fff;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.container-input {
  width: 100%;
  display: block;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
}

#root .App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 15px;
}

.content {
  width: 100%;
  max-width: 1200px;
}

.content form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  width: 100%;
  display: block;
  margin: 0;
}

h1 {
  font-family: Road Rage;
  font-size: 48px;
  /* background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ff447c84&noise=166f9e&density=100&opacity=100"); */
  background: -webkit-linear-gradient(#ff447d, #f96da7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 10px;
  /* text-shadow: 0 0 0px #f96da772, 0 0 0px #f96da772, 0 0 2px #f96da772,
    0 0 3px #ff447cc9, 0 0 4px #ff447cc9, 0 0 5px #ff447cc9, 0 0 5px #ff447cc9,
    0 0 6px #ff447cc9; */
  text-shadow: 1px 1px 5px #f96da772;
  filter: saturate(0.8) contrast(1.2) brightness(1);
  line-height: 1.1em;
  margin: 0.5em 0;
  background-position: center;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.title-continer div {
  color: #b4f2e1;
  font-size: 18px;
  font-family: "Press Start 2P", sans-serif;
}

form button[type="submit"] {
  width: 300px;
  padding: 15px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #282828;
  margin: 15px auto 0;
  /* border: 1px solid #b4f2e1; */
  color: #b4f2e1;
  font-family: "Press Start 2P", sans-serif;
  position: relative;
  z-index: 2;
  background-color: #e42d79;
  font-size: 12px;
}

form button[type="submit"]:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  border: 1px solid #b4f2e1;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.result {
  background-color: #b4f2e1e5;
  padding-top: 3em;
  text-align: justify;
  line-height: 1.5em;
  font-family: "Playfair Display", serif;
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  -webkit-user-modify: read-write-plaintext-only;
}

input[type="radio"] {
  opacity: 0;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.check-option {
  position: relative;
  background: #b4f2e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-option label {
  padding: 7px;
  position: relative;
  z-index: 3;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  color: #000;
}

input,
form > label {
  font-family: "Press Start 2P";
  color: #b4f2e1;
}

.check-option > label {
  font-size: 10px;
}

input[type="number"] {
  background-color: #b4f2e1;
  padding: 5px;
  border: none;
  box-shadow: 0 0 0px #f96da772, 0 0 0px #f96da772, 0 0 2px #f96da772,
    0 0 3px #ff447cc9, 0 0 4px;
  color: #000;
}

input[type="number"] ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

input[type="number"] :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

input[type="number"] ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

input[type="radio"]:checked + .option-bg {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #e42d79;
  box-shadow: 0 0 0px #f96da772, 0 0 0px #f96da772, 0 0 2px #f96da772,
    0 0 3px #ff447cc9, 0 0 4px #ff447cc9, 0 0 5px #ff447cc9, 0 0 5px #ff447cc9,
    0 0 6px #ff447cc9;
  position: absolute;
  left: 0;
  top: 0;
  filter: saturate(0.8) contrast(1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .title-continer div {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  label {
    margin-top: 7px;
    font-size: 12px;
  }
}
